<div mat-dialog-title class="title">
    <h1>Drugs Form</h1>
</div>
<div mat-dialog-content class="content">
    <div class="row">
        <mat-form-field appearance="fill">  
            <mat-label>Medicine Name</mat-label>
            <input matInput type="text" placeholder="Ex. metamizole">
        </mat-form-field>
        <mat-form-field appearance="fill">  
            <mat-label>Value</mat-label>
            <input matInput type="number" placeholder="Ex. 30">
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field appearance="fill">  
            <mat-label>Quantity</mat-label>
            <input matInput type="number" placeholder="Ex. 2">
        </mat-form-field>
        <mat-form-field appearance="fill">  
            <mat-label>Image</mat-label>
            <input matInput type="text" placeholder="Past image link here">
        </mat-form-field>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-raised-button>Cancel</button>
    <button mat-raised-button color="primary">Save</button>
</div>